<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/resume.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="shortcut icon" href="view/favicon.ico">
		<title>FREE履历</title>
	</head>

	<body>
		<div class="container">
			<div id="resume" class="col-md-12 col-sm-12 col-xl-12 container-resume" v-cloak>
				<div class="col-md-12 col-sm-12 col-xl-12 resume">
					<section class="col-md-12 col-sm-12 col-xl-12 section-one">
						<!--  <div class="col-md-12 col-sm-12 col-xl-12 img" style="padding: 0;">
                        <img v-bind:src="img" class="one">
                    </div>-->
						<div class="col-md-12 col-sm-12 col-xl-12">
							<div class="col-md-12 col-sm-12 col-xl-12 name">
								<span>{{name}}</span>
							</div>
						</div>
					</section>
					<section class="col-md-12 col-sm-12 col-xl-12">
						<div class="col-md-12 col-sm-12 col-xl-12 ">
							<div class="col-md-4 col-sm-4 col-xl-4">
								<i class="fa fa-envelope mr-5" aria-hidden="true"></i>
								<i class="">{{email}}</i>
							</div>
							<div class="col-md-4 col-sm-4 col-xl-4 phone-li">
								<i class="fa fa-phone mr-5" aria-hidden="true"></i>
								<i>{{phone}}</i>
							</div>
							<div class="col-md-4 col-sm-4 col-xl-4 github_name">
								<i class="fa fa-github mr-5" aria-hidden="true"></i>
								<a v-bind:href="github">{{github_name}}</a>
							</div>
							<div class="col-md-12 col-sm-12 col-xl-12 position">
								<span class="job">{{job}}</span>
							</div>
						</div>
					</section>

					<section class="col-md-12 col-xs-12col-md-12 col-sm-12 col-xl-12">
						<div class="education">
							<span class="education_ba">
                            <i class="fa fa-address-card-o fa-1 mr-5"></i>
                            <i class="mr-5">{{education_ba}}</i>
                        </span>
							<hr/>
						</div>
						<div class="col-md-12 col-sm-12 col-xl-12">
							<div class="col-md-12 col-sm-12 col-xl-12" v-for="date in education">
								<div class="col-md-4 col-sm-12 col-xl-12 three">
									<strong>{{date.school}}</strong>
									<strong>({{date.course}})</strong>
								</div>
								<div class="col-md-4 col-sm-6 col-xl-6 three">
									<!--<strong>{{date.degree}}</strong>&nbsp;&nbsp;-->{{date.professional}}
								</div>
								<div class="col-md-4 col-sm-6 col-xl-6 three text-center">{{date.time}}</div>
							</div>
						</div>
					</section>
					<hr />
					<section class="col-md-12 col-sm-12 col-xl-12">
						<div class="education">
							<span class="education_ba"><i class="fa fa-tags fa-1 mr-5" ></i>{{skills}}</span>
							<hr/>
						</div>
						<div class="col-md-12 col-sm-12 col-xl-12 three">
							<div class="col-md-6 col-sm-12 col-xl-12" v-for="date in skills_info">
								<span><strong>{{date.name}}&nbsp;:&nbsp;</strong>{{date.language}}</span>
							</div>
						</div>
					</section>
					<section class="col-md-12 col-sm-12 col-xl-12">
						<div class="education">
							<span class="education_ba"><i class="fa fa-building fa-1 mr-5" ></i>{{work_experience}}</span>
							<hr />
						</div>
						<div class="col-md-12 col-sm-12 col-xl-12" v-for="date in work_info">
							<div class="col-md-4 col-sm-12 col-xl-12 three">{{date.times}}</div>
							<div class="col-md-4 col-sm-6 col-xl-6 three">{{date.company}}</div>
							<div class="col-md-4 col-sm-6 col-xl-6 three text-right">{{date.job_position}}</div>

						</div>
					</section>
					<!--项目经历-->
					<section class="col-md-12 col-sm-12 col-xl-12">
						<div class="education">
							<span class="education_ba"><i class="fa fa-users fa-1 mr-5" ></i>{{project_experience}}</span>
							<hr />
						</div>
						<div class="col-md-12 col-sm-12 col-xl-12 three" v-for="date in project_info">
							<div class="col-md-12 col-sm-12 col-xl-12 three"><strong>{{date.projuct_name}}</strong></div>
							<div class="col-md-6 col-sm-12 col-xl-12 three"><strong>{{date.name}}</strong>&nbsp;&nbsp;{{date.job_position}}</div>
							<div class="col-md-6 col-sm-12 col-xl-12 three">{{date.times}}</div>
							<div class="col-md-12 col-sm-12 col-xl-12 three">
								<ul class="info" v-for="date in date.values">
									<li>{{date.info}}</li>
								</ul>
							</div>
							<div class="col-md-12 col-sm-12 col-xl-12 three">
								<span>{{date.describe}}</span>
							</div>
						</div>
					</section>
					<!--<section class="col-md-12 col-sm-12 col-xl-12">
						<div class="education">
							<span class="user-o education_ba"><i class="fa fa-user-circle-o fa-1 mr-5" ></i>{{person_product}}</span>
							<hr />
						</div>
						<div class="col-md-12 col-sm-12 col-xl-12 three" v-for="date in person_info">
							<div class="col-md-6 col-sm-12 col-xl-12 three"><strong>{{date.name}}</strong>&nbsp;&nbsp;{{date.job_position}}</div>
							<div class="col-md-6 col-sm-12 col-xl-12 three">{{date.times}}</div>
							<div class="col-md-12 col-sm-12 col-xl-12 three">
								<ul class="info">
									<li>{{date.info}}</li>
								</ul>
							</div>
						</div>
					</section>-->

					<section class="col-md-12 col-sm-12 col-xl-12">
						<div class="education">
							<span class="education_ba"><i class="fa fa-diamond fa-1 mr-5"></i>其他</span>
							<hr />
						</div>
						<div class="col-md-12 col-sm-12 col-xl-12 three">
							<ul class="info" v-for="date in other_list">
								<li><strong>{{date.name}}&nbsp;:&nbsp;</strong>
									<a :href=[date.language]>{{date.language}}</a>
								</li>
							</ul>
						</div>
					</section>
					<section class="col-md-12 col-sm-12 col-xl-12">
						<div class="education">
							<span class="education_ba"><i class="fa fa-diamond fa-1 mr-5"></i>{{selfEvaluation}}</span>
							<hr />
						</div>
						<div class="col-md-12 col-sm-12 col-xl-12 three">
							<ul class="info" v-for="date in selfEvaluation_list">
								<li><strong>{{date.name}}&nbsp;&nbsp;</strong>
									<span>{{date.describe}}</span>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/react_resune.js"></script>

</html>